$primary: #fd0d71 !default;
$secondary: #000000 !default;
$success: #00ff00 !default;
$danger: #ff0000 !default;
$warning: #ffff00 !default;
$info: #00ffff !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;
